/* CSS for Opportunities Page */
.opp-list{
  position: relative;
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
}

.opp-body{
  background-color: #eaeaea;
}

.title{
	color:#005e8e;
}

.well{
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
}

/* CSS for Gala Page */

.shadow-rectangle-box{
	border-style: solid;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 4px 4px 2px #888888;

}

.right{
	border-left: solid;
	margin-left: 5%;
}

.left{
	margin-right: 10%;
}

/* CSS for History Page */

#mainContent {
	width:980;
	margin:auto;
	left:0;
	right:0;
}

.titles{
	color:#005F86;
}
